#hud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

body {
  background: #dbd8ae;
  font-family: candara;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}
.treasure {
  cursor: pointer;
  color: gold;
  display: none;
  transition: all 0.3s ease;
}
.found {
  color: red;
  background: white;
  text-decoration: line-through;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.jim {
  font-weight: bold;
}

.chapter {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  align-items: center;
  width: 800px;
  text-align: center;
  justify-content: center;
  padding: 30px;
  margin: 15px;
}
